@using DishBurger.Data.Enums
@model PagedList.IPagedList<ItemEntity>
<div class="d-flex">
    <form asp-action="Index"
          asp-route-pageNumber="@Model.PageNumber"
          asp-route-SortPage="@SortTypes.Price">
        <button class="btn btn-primary m-sm-1">Sort by price</button>
    </form>

    <form asp-action="Index"
          asp-route-pageNumber="@Model.PageNumber"
          asp-route-SortPage="@SortTypes.Name">
        <button class="btn btn-primary m-sm-1">Sort by name</button>
    </form>
</div>
